
<footer class="py-5 bg-dark" style="color:white;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              NOTICIAS
            </div>
            <div class="col-md-4">
              <h5>Contactos</h5>
              <dl class="contact-list">
                <dt>Domicilio:</dt>
                <dd>Libertado S/N Rivadavia</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">admin@noticias.ar</a></dd>
              </dl>
             
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Redes Sociales</h5>
             
              <ul class="nav-list">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
               
              </ul>
              <h5>Preguntas frecuentes</h5>
              <h5>Términos y condiciones </h5>
            </div>
          </div>
        </div>
        
      </footer>
