
<footer class="py-5 bg-dark" style="color:white;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              NOTICIAS-DEMO
            </div>
            <div class="col-md-4">
              <h5>Trabajo Final Curso Fundamentos de Angular SJTEC</h5>
              
             
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Alumno: Roberto Molina</h5>
             
              
            </div>
          </div>
        </div>

        
      </footer>
